# Python
__pycache__/
*.py[cod]
*$py.class

# Entorno virtual
venv/
.venv/
env/
.env

# Pytest
.pytest_cache/

# Archivos de configuración de VS Code
.vscode/

# Archivos del sistema operativo
.DS_Store
Thumbs.db